
@media (min-width: 1300px) {
    .product-logo {
        max-width: 1150px;
    }






}









/*  */

@media (max-width: 1023px) {
    
   .kera-order-info{
    display: inline;
    margin-top: 30px;
   }
   .order-list{
    display: inline;
   }
   .kerassentials-hero{
    display: inline;
    
   }
   .kerassentials-left {
    width: 100%;
    margin: 0;
   
   }
   .kerassentials-left img{
    margin-top: 80px;
   }
   .kerassentials-right{
    width: 100%;
    margin: 0px;
    padding: 0px;
   }
   .discovery{
     display: inline;
     align-items: center;
     justify-content: center;
     
   }
   .sd-left{
    width: 90%;
    margin: auto;
    padding: 50px 0px;
   }
   .sd-right{
    width: 80%;
    margin: auto;
   }
   .created-bg{
    height: 800px;
   }
.why-kerassentials{
  display: inline;
  margin: 50px 20px 50px 20px;
  padding: 70px;

  
  
}
.wk-right{
  text-align: center;
}

.wk-right img{
    margin-top: 30px;
    width: 100%;
   
}
.wk-left p{
  padding-left: 10px;
}
.ingredients-items {
  display: inline;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.ingredients-items-new {
  display: inline;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.ingredients-discription{
  width: 60%;
  margin: auto;
}

.ingredients-discription h4 {
  width: 100%;
  
}
.kerassentials-specification-bg{
  height: 660px;
}



.kerassentials-dis{
  display: inline;
}
.kerassentials-users-images img{
  display: none;
}
.kerassentials-users-images-mob img{
  display: block;
  max-height: 431px;
    width: 100%;
    margin: auto;
}


.kerassentials-users-heading{
  font-size: 1rem;
  text-align: center;
  line-height: 2.8rem;

}



.kerassentials-reviewone{
  width: 95%;
  
}








 
}



/*    */

@media (max-width: 600px) {
  .why-kerassentials{
    padding: 30px 5px 30px 5px;
 
  }
  

  
.wk-left p{
  padding-left: 0px;
}


.ingredients-discription{
  width: 80%;
  
  
}
.kerassentials-specification-bg{
  height: 550px;
}


.kerassentials-specification-discription{
  width: 95%;
  padding: 1.9rem 1.2rem 1.2rem 1.2rem;
  margin: auto;
  
}

.kerassentials-specification-discription h1{
  font-size: 2.3rem;
  text-align: center;
  padding-bottom: 2rem;
}

.kerassentials-list-discription p {
  padding: 0px;
}

.kerassentials-review-image{
  display: none;
}






}